@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

@import "./scss/functions";
@import "./scss/variables";
@import "./scss/mixins";

$theme-colors: (
  "primary": #19929A,
  "secondary": #FDC079,
  "tertiary":#F8EEDD,
);


@import "./scss/bootstrap";


* {
    text-align: center;
}
.main {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.navbar {
    background-color: #F8EEDD; 
    width: 100%;
    height: auto;

    img {
        display: flex;
        justify-content: left; 
    }
}
.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #19929A;
  }
.heroimage {
    display: flex;
    flex-direction: column;
    height:60vh;
    margin-top: 0px;
    background-image:url("/assets/images/personalmeeting.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;


    h1 {
        color: white;
        font-weight: lighter;
        font-size: 1.6em;
        padding-top:100px;
    }
    .actionbutton {
        width: 120px;
        height: 30px;
        margin-bottom: 50px;
        line-height: 30px;
        color: white;
        box-shadow: inset 0 0 0 0 #FDC079;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
    }
    .slide_right:hover {
        box-shadow: inset 400px 0 0 0 #FDC079;
      }
}
.actionbutton {
    width: 150px;
    height: 40px;
    background-color:#19929A;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    line-height: 40px;
    box-shadow: inset 0 0 0 0 #FDC079;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
    }



.aboutusbutton {
    width: 150px;
    height: 40px;
    background-color:#FDC079;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    color: white;
    line-height: 40px;
}

.divider {
    width: 80%;
    height: 2px;
    background-color: #FDC079;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.helpAreas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 30px 0px 30px 0px;

    h3 {
        color:#19929A;
    }
}
.helpbox {
    width: 250px;
    margin:0px auto 0px auto;
    height: 230px;
    margin-bottom: 20px;

    img {
        padding-top: 20px;
    }
}
.helpbutton {
    width: 100px;
    height: 30px;
    background-color:#FDC079;
    margin: 0px auto 20px auto;
    border-radius: 8px;
    color: white;
    line-height: 32px;
    box-shadow: inset 0 0 0 0 #19929A;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
}
.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.subscribe {
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 0px;
    background-color: #F8EEDD;

    .actionbutton {
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: white;
        box-shadow: inset 0 0 0 0 #FDC079;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
    }
    .slide_right:hover {
        box-shadow: inset 400px 0 0 0 #FDC079;
      }
}
textarea {
    width: 80%;
    height: 40px;
    margin: 0px 0px 20px 0px;
    line-height: 40px;
}
.successstory {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    

    h2, h3 {
        text-align: left;
        padding-left: 30px;
        color: white;
    }
    h3 {
        width: 70%;
    }
    
}
.successText {
    width: 100%;
    height: auto;
   
    h2 {
        font-size: 2em;
        margin: 70px 0px 30px 0px;
    }
    h3 {
        width: 70%;
        margin: 0px auto 30px auto;
    }
    .actionbutton {
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: white;
        margin-bottom: 40px;
        box-shadow: inset 0 0 0 0 #FDC079;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
    }
    .slide_right:hover {
        box-shadow: inset 400px 0 0 0 #FDC079;
      }
}

.successImage {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}
.aboutus {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 50px 0px 50px 0px;

    p {
        width: 80%;
        margin: 0px auto 0px auto;
        line-height: 25px;
        padding: 10px 0px 30px 0px;
    }
    .aboutusbutton {
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: white;
        box-shadow: inset 0 0 0 0 #FDC079;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
    }
    .slide_right:hover {
        box-shadow: inset 400px 0 0 0 #FDC079;
      }
}
.copyright {
    font-size: .8em;
}
.fa {
    padding: 12px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #FDC079;
    color: white;
  }
  
  .fa-twitter {
    background: #FDC079;
    color: white;
  }
  .fa-linkedin {
    background: #FDC079;
    color: white;
  }
  .fa-instagram {
    background: #FDC079;
    color: white;
  }
footer {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}





//Screen Sizes

@media (max-width: 940px) {
    .heroimage {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    
    .heroimage {
        background-size: 100%;
        background-color: #19929A;

        h1 {
            padding-top: 230px;
            font-size: 1.7em;
        }
        
    }
    .helpAreas {
        padding-top: 30px;
        

        h2, h3 {
            color:#19929A;
            font-size: 1.8em;
        }
    }
    .subscribe h2 {
        font-size: 1.8em;
    }
    .successstory {
        background-size: 70%;
        background-color: #19929A;
    
        h2, h3 {
            text-align: left;
            padding-left: 170px;
            color: white;
        }
        h2 {
            font-size: 2.1em;
            margin-top: 90px;
        }
        h3 {
            font-size: 1.7em;
            width: 40%;
        }

        .actionbutton {
            width: 150px;
            height: 30px;
            margin-left: 170px;
            margin-top: -15px;
            line-height: 30px;
            border-radius: 5px;
        }
    }
    .aboutus {
        p {
            width: 60%;
            margin: 0px auto 0px auto;
            line-height: 25px;
            padding: 10px 0px 30px 0px;
            font-size: 1.7em;
            line-height: 50px;
        }
    }
}